@use '../abstracts/' as *;



body{
    background-color: $clr-primary-500;    
    color: $clr-secondary-100;
    font-family: $ff-base;
}

a, button, input {
    &:focus:not(:focus-visible) {
      outline: none;
    }
  
    &:focus-visible {
      outline: 1.5px solid $clr-secondary-200;
      outline-offset: 2px;
    }
  }

.wrapper {
    max-width: 580px;
    margin: 0 auto;
}

.d-flex {
  display: flex;
  &.row {
      flex-direction: row;
  }
  &.col{
      flex-direction: column;
  }
}

.gap-2 {
  gap: $size-2;

}

.gap-4 {
  gap: $size-4;
}
.gap-5{
  gap: $size-5;
}
.gap-10{
  gap:$size-10;
}
.gap-11{
  gap:$size-11;
}

.align-center{
  align-items: center;

}

.flex-grow-1{
  flex-grow: 1;

}
.justify-content{

  justify-content: space-between;
}