@use '../abstracts/' as *;



body{
    background-color: $clr-primary-500;    
    color: $clr-secondary-100;
    font-family: $ff-base;
}

a, button, input {
    &:focus:not(:focus-visible) {
      outline: none;
    }
  
    &:focus-visible {
      outline: 1.5px solid $clr-secondary-200;
      outline-offset: 2px;
    }
  }

.wrapper {
    max-width: 580px;
    margin: 0 auto;
}

.d-flex {
  display: flex;
  &.row {
      flex-direction: row;
  }
  &.col{
      flex-direction: column;
  }
}


.align-center{
  align-items: center;
}

.flex-grow-1{
  flex-grow: 1;
}
.justify-content{
  justify-content: space-between;
}