
$clr-tertiary-100: #FCB076;
$clr-tertiary-200: #BF8354;

$clr-secondary-100: #ffff;
$clr-secondary-200: #A8BACA;


$clr-primary-100: #6B729D;
$clr-primary-200: #424669;
$clr-primary-300: #2D3250;
$clr-primary-500: #161E31;

$red: red;
$green: green;

$danger: $red;
$success: $green;

$box-shadow-1: 0px 4px 8px rgba(0, 0, 0, 0.25);
$box-shadow-2: 0px 10px 20px rgba(0, 0, 0, 0.19);






