

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Khula&display=swap');

$ff-inter: 'Inter', 'sans';
$ff-base: $ff-inter;

$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;



$fw-default: $fw-400;
$fw-bold: $fw-700;